.bottom-padding {
  padding-bottom: 90px;
  @media screen and (max-width: 575px) {
    padding-bottom: 0;
  }
}

.section_about {
  background-color: #18151a;

  .container {
    @media screen and (max-width: 575px) {
      padding: 0 0;
    }
  }

  .about_main {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }

    .about_content {
      flex-basis: 75%;

      @media screen and (max-width: 1024px) {
        flex-basis: 100%;
      }

      @media screen and (max-width: 575px) {
        padding: 0 10px;
      }

      .about_content_first-block {

        @media screen and (max-width: 767px) {
          display: flex;
          flex-wrap: wrap;
        }

        .about_content_img-block-left {
          @media screen and (max-width: 767px) {
            order: 2;
            margin: auto;
            margin-top: 30px;
          }

          img {
            height: 339px;
            width: auto;
            float: left;
            margin-right: 20px;
            margin-bottom: 0;

            @media screen and(max-width: 1400px) {
              margin-bottom: 20px;
            }

            @media screen and(max-width: 1365px) {
              height: 250px;
            }

            @media screen and(max-width: 1250px) {
              height: 220px;
            }
            @media screen and(max-width: 767px) {
              height: 100%;
              width: 100%;
              margin-bottom: 0;
              margin-right: 0;
            }
          }
        }

        .about_content_btn-block {
          @media screen and (max-width: 767px) {
            order: 1;
          }
        }
      }

      .about_content_second-block {

        @media screen and (max-width: 767px) {
          display: flex;
          flex-wrap: wrap;
        }

        .about_content_img-block-right {

          @media screen and (max-width: 767px) {
            order: 2;
            margin: auto;
            margin-top: 30px;
          }

          img {
            height: 339px;
            width: auto;
            float: right;
            margin-left: 20px;
            margin-bottom: 0;

            @media screen and(max-width: 1400px) {
              margin-bottom: 20px;
            }

            @media screen and(max-width: 1365px) {
              height: 250px;
            }

            @media screen and(max-width: 1250px) {
              height: 220px;
            }

            @media screen and (max-width: 767px) {
              width: 100%;
              height: 100%;
              margin-bottom: 0;
              margin-left: 0;
            }
          }
        }
      }

      .about_content_block_text-title {
        font-size: 24px;
        color: #fff;
        font-weight: bold;
        line-height: 1;
        padding-top: 50px;

        @media screen and (max-width: 480px){
          line-height: 1.3;
        }
      }

      .about_content_block_text-ul {
        display: flex;

        .about_content_block_text-ul-li {
          div {
            width: 8px;
            height: 8px;
            background-color: rgb(196, 178, 211);
            border-radius: 50%;
            margin-top: 9px;
            margin-right: 12px;
          }
        }
      }
    }

    .section_about_sidebar {

      position: relative;
      @media screen and (max-width: 1024px) {
        margin: auto;
        margin-top: 55px;
      }

      .about_sidebar_main {
        flex-basis: 25%;
        background-color: #252129;
        padding: 35px 20px;
        margin-left: 20px;
        max-width: 365px;

        @media screen and (max-width: 1024px) {
          max-width: 100%;
          margin-left: 0;
          display: flex;
          flex-direction: row;
          align-items: end;
          padding: 25px 20px 35px 20px;

        }

        @media screen and(max-width: 767px) {
          display: block;
          padding: 35px 20px;
          max-width: 365px;
        }

        @media screen and(max-width: 575px) {
          max-width: 100%;
        }

        .about_deal_mobile-first {
          @media screen and (max-width: 1024px) {
          }
        }

        .about_deal_mobile-second {
          @media screen and (max-width: 1024px) {
            margin-left: 30px;
          }

          @media screen and (max-width: 767px) {
            margin-left: 0
          }
        }

        .about_sidebar_title {
          font-size: 20px;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.2;
          padding-bottom: 20px;
        }

        .sidebar_container_img {
          img {
            width: 100%;
            height: 100%;

            @media screen and (max-width: 1024px) {
              width: auto;
              height: auto;
            }
            @media screen and (max-width: 767px) {
              width: 100%;
              height: 100%;
            }
          }
        }

        .about_sidebar_game {
          font-size: 18px;
          color: #fff;
          font-weight: bold;
          line-height: 2.222;
          padding-top: 10px;

          @media screen and (max-width: 1024px) {
            line-height: 1;
            padding-top: 0
          }

          @media screen and (max-width: 767px) {
            line-height: 2.222;
            padding-top: 10px;
          }
        }

        .about_sidebar_stars-price {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .about_sidebar_stars {

            @media screen and (max-width: 1024px) {
              padding-top: 27px;
            }

            @media screen and (max-width: 767px) {
              padding-top: 0;
            }
          }

          .about_sidebar_prices {
            display: flex;
            align-items: center;
            padding-top: 5px;

            .about_sidebar_prices_left {
              font-size: 14px;
              color: rgb(138, 122, 152);
              padding-right: 15px;
            }

            .about_sidebar_prices_right {
              font-size: 20px;
              color: rgb(255, 108, 132);
              font-weight: 900;
            }
          }
        }

        .about_sidebar_text {
          position: relative;
          font-size: 14px;
          color: #c4b2d3;
          padding-top: 30px;

          &:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #433c48;
            z-index: 55;
          }
        }

        .btn-global-primary {
          margin-top: 20px;

          a {
            width: 100%;

            @media screen and (max-width: 1024px) {
              width: 50%;
            }

            @media screen and (max-width: 767px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


.about_sidebar_main-sale {
  &:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0;
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-top-color: #e52f44;
    border-bottom: 0;
    border-right: 0;
    z-index: 3;
    transition: .3s all ease-out;
    opacity: 1;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 4;
    top: 15px;
    right: 7px;
    font-size: 16px;
    color: #fff;
    transition: .3s all ease-out;
    opacity: 1;
  }
}

.about_block_padding-top-25 {
  padding-top: 25px;
}

.about_block_padding-top-55 {
  padding-top: 55px;
}

.about_content_block_text {
  font-size: 16px;
  color: rgb(196, 178, 211);
  line-height: 1.625;
}

.about_block_bold {
  font-weight: bold;
}

.sale-70 {
  &:after {
    content: '-70%';
  }
}

.about_content_title {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 0.75;

  @media screen and (max-width: 1200px) {
    line-height: normal;
  }
  @media screen and (max-width: 1024px) {
    font-size: 28px;
  }

  @media screen and (max-width: 575px) {
    font-size: 22px;
  }
}

.about_sidebar_timer {

  #countdown {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #18151a;

    .countdown-number_line {
      &:after {
        content: "";
        position: absolute;
        right: 0;
        width: 1px;
        background-color: #433c48;
        height: 100%;
      }
    }

    .countdown-number {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
      flex-basis: 25%;
      position: relative;

      .countdown-time {
        color: #ffb400;
        font-size: 24px;
        font-weight: 900;
      }

      .countdown-text {
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }
}