@font-face {
  font-family: "Red Hat Display"; /* Гарнитура шрифта */
  src: url(../fonts/RedHatDisplay-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Kalam"; /* Гарнитура шрифта */
  src: url(../fonts/Kalam-Regular.ttf); /* Путь к файлу со шрифтом */
}