.owners {
  margin-top: $default-padding-global;
  background-color: #f5f6f8;
  padding-top: $default-padding-global;
  padding-bottom: $default-padding-global;
  position: relative;
  @media screen and (max-width: 1200px) {
    margin-top: 100px;
    padding-top: 100px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 70px;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  @media screen and (max-width: 768px) {
    padding-top: $default-padding-global / 2;
    padding-bottom: $default-padding-global / 2;
  }

  .owners_parallax_arrow {
    position: absolute;
    background-image: url("../img/svg/owners_block/arrow.svg");
    background-repeat: no-repeat;
    z-index: 2;
    width: 80%;
    height: 300px;
    left: 750px;
    top: 50px;
    background-position: center;
    background-position: 50% 50%;
    @media screen and(max-width: 1400px) {
      left: 650px;
    }
    @media screen and(max-width: 1200px) {
      left: 600px;
      top: 30px;
    }
    @media screen and(max-width: 992px) {
      display: none;
    }
  }

  .owners_parallax_rocket {
    position: absolute;
    background-image: url("../img/svg/owners_block/rocket.svg");
    background-repeat: no-repeat;
    z-index: 2;
    width: 80%;
    height: 300px;
    right: 800px;
    top: 50px;
    background-position: center;
    background-position: 50% 50%;
    @media screen and(max-width: 1400px) {
      right: 650px;
    }
    @media screen and(max-width: 1200px) {
      right: 600px;
      top: 50px;
    }
    @media screen and(max-width: 992px) {
      display: none;
    }
  }

  .owners__partners {
    padding-top: 20px;
    @media screen and (max-width: 577px) {
      padding-top: 0;
    }
  }
}

.owners__partners_logo {
  display: flex;
  justify-content: center;
}

.owners_about {

  h2 {
    @extend .h2-title;
    text-align: center;
    @media screen and (max-width: 1200px) {
      font-size: 40px;
    }
    @media screen and (max-width: 992px) {
      font-size: 35px;
    }
    @media screen and (max-width: 445px) {
      font-size: 32px;
    }
    @media screen and (max-width: 350px) {
      font-size: 28px;
    }
  }

  p {
    @extend .p-global;
    padding-top: 30px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    @media screen and (max-width: 1200px) {
      padding-left: 60px;
      padding-right: 60px;
    }
    @media screen and (max-width: 445px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

}

.owners__video {
  padding-top: 100px;
  @media screen and (max-width: 992px) {
    padding-top: 70px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }

  .svg {
    transition: all ease-in-out .5s;
  }
}

.owners__video_block_1 {
  background-image: url("../img/owners_block/story-1.jpg");
  background-size: cover;
  height: 600px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 30px;
  margin: auto;
  @media screen and(max-width: 1400px) {
    height: 550px;
    width: 350px;
  }
  @media screen and(max-width: 1200px) {
    height: 450px;
    width: 300px;
  }
  @media screen and (max-width: 350px) {
    width: auto;
  }
}

.owners__video_block_2 {
  background-image: url("../img/owners_block/story-2.jpg");
  background-size: cover;
  height: 600px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 30px;
  margin: auto;

  @media screen and(max-width: 1400px) {
    height: 550px;
    width: 350px;
  }
  @media screen and(max-width: 1200px) {
    height: 450px;
    width: 300px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 350px) {
    width: auto;
  }
}

.owners__video_block_3 {
  background-image: url("../img/owners_block/story-3.jpg");
  background-size: cover;
  height: 600px;
  width: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 30px;
  margin: auto;

  @media screen and(max-width: 1400px) {
    height: 550px;
    width: 350px;
  }
  @media screen and(max-width: 1200px) {
    height: 450px;
    width: 300px;
  }
  @media screen and (max-width: 992px) {
    margin-top: 50px;
  }
  @media screen and (max-width: 350px) {
    width: auto;
  }
}

.owners__video_play {
  width: 60px;
  height: 59px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-top: 20px;*/
  margin-left: 30px;
  /*  margin-bottom: -20px;*/
  transition: all ease-in-out .3s;

  &:hover {
    background: #fff;
    transition: all ease-in-out .3s;
    cursor: pointer;
  }

  &:hover .svg {
    fill: #202231;
    transition: all ease-in-out .5s;
    cursor: pointer;
  }
}

.owners__video_quotes {
  color: #ffffff;
  font-family: $font-family;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.423em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10%;
  @media screen and(max-width: 1200px) {
    font-size: 23px;
  }
  @media screen and(max-width: 768px) {
    font-size: 20px;
  }
  @media screen and(max-width: 350px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.owners__video_author {
  color: #fa7161;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.94em;
  letter-spacing: 0px;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and(max-width: 1200px) {
    font-size: 15px;
  }
  @media screen and(max-width: 350px) {
    font-size: 14px;
    padding-bottom: 10px;
  }
}

.owners_set {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 20%;
}

.modal {
  padding-right: 0 !important;
}

.modal-content {
  background-color: #7b7b7c;
  @media screen and (max-width: 992px) {
    width: auto;
    margin: auto;
  }
}

#video {
  @media screen and (max-width: 992px) {
    width: 600px;
    height: 330px;
  }

  @media screen and (max-width: 650px) {
    width: 500px;
    height: 270px;
  }
  @media screen and (max-width: 650px) {
    width: 400px;
    height: 220px;
  }
  @media screen and (max-width: 450px) {
    width: 350px;
    height: 180px;
  }
}

.owners_block__clientsButton {
  margin: auto;
  margin-top: 70px;
  background-color: #fa7161;
  box-sizing: border-box;
  width: 301px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  box-shadow: 8px 10px 15px 0px rgba(12, 13, 31, 0.14);
  transition: all ease-in-out 0.2s;
  text-align: center;

  @media screen and(max-width: 768px) {
    margin-top: 40px;
  }
  @media screen and(max-width: 350px) {
    width: 270px;
  }

  &:hover {
    background-color: #0c0d1f;
    transition: all ease-in-out 0.2s;
  }

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    font-family: $font-family;
    letter-spacing: 0px;
    color: #fff;
    text-align: center;
    display: block;
    padding: 15px 30px 15px 30px !important;
    @media screen and(max-width: 350px) {
      font-size: 17px;
    }
  }
}
