
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="main_block">
                    <h3>{{productsInfo.title}}</h3>
                    <div class="line"></div>
                    <img class="img-responsive" src="img/{{productsInfo.img}}" alt="foto">
                    <h4>Product description</h4>
                    <div class="line"></div>
                    <p>{{productsInfo.text}}</p>
                </div>
            </div>
            <div class="col-md-5">
                <div ng-if = "aboutUser.access == 'true'" class="block_for_reg_user">
                    <div class="raite_star"><h4>RaiteStar</h4></div>
                    <input type="text" placeholder="Type your review..">
                    <button ng-click="reviewSubmit(productsInfo)" class="btn-warning ">Submit Review</button>
                </div>

                <p>{{forReview}}</p>


                <div ng-repeat="item in countOfProducts" class="review">
                    <p>User:{{item.created_by.username}}</p>
                    <p>Date:{{item.created_at}}</p>
                    <p>Rate:{{item.rate}}</p>
                    <p>Comment:{{item.text}}</p>
                </div>


            </div>

        </div>
    </div>

