body{
    font-size:16px;
    min-width: 320px;
}

/*button*/

.my_btn{
    background: #c84545;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    
}
.my_btn:hover{
    border-radius: 50%;
}

.btn_md{
    padding:10px 30px;

}

.btn_lg{
    padding:15px 50px;
}

.white_btn{
    color: #fff;
    border-color: #fff;
}



/*
HEADER*/

header{
    height: 680px;
    background-image: url('../img/banner.jpg');
    -webkit-background-size:cover;
    background-size:cover; /*адаптирует BG картинку под разные ращрешения*/
}

nav{
    height: 94px;
    line-height: 94px; /*Ширина строки*/
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
}

.menu{
    list-style-type: none;/* убирает точки в LI*/
    padding:0;
    margin:0 ;
}
.menu li{
    display:inline-block; /*распологает элементы в ряд по горизонтали*/
    padding: 0 30px;
}
.menu li a{
    color:#fff;
    text-transform: uppercase ;
}
.menu li a:focus,
.menu li a:hover{
    text-decoration: none;/*Убирает подчёркивание сссылки*/
    color:#e1e1e1;
}

.top_line{
    height: 1px;
    background-color: #fff;
}
.logo{
    padding-top:35px;
}

.title_block{
    color: white;
    text-align: center;
    margin-top: 200px;
}
.title_block h1{
    font-size: 50px;
    margin-bottom:30px;
}
.title_block p{
    font-size:18px;
    margin-bottom:50px;
}

.menu_btn i {
    color: #ffffff;
    position: absolute;
    top:1px;
    left:-3px;
}

.params_s{
    padding:95px 0;
    
}

.param_block{
    text-align: center;
    margin-bottom:50px;

}
.param_block i{
    font-size:70px;
    color:#c84545;
}

.param_block h3{
    text-transform: uppercase;
    font-size:18px;
}

.param_block p {
    font-size:14px;
}

.p0{
    padding:0;
}

.work_block{
    position: relative;
    padding: 1px;
}

.image_wrap{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(232,69,69,.7);
    display: flex;
    opacity:0;
}

.work_block:hover .image_wrap{
    opacity: 1;
}

.work_descr{
    margin:auto;
    color: #ffffff;
    text-align: center;
}

.team_s{
    padding: 95px 0;

}

.team_item span{
    text-transform: uppercase;
    color: #c84545;
    font-size:14px;
}

.team_item h4 {
    color: #000;
}

.team_item p {
    font-size:14px;
    padding:10px 0;
    color: gray;
}

.soc_btn{
    border:1px solid #6c7279;
    background-color: transparent; /*УСТАНАВЛИВАЕТ ПРОЗРАЗНЫЙ ФОН*/
    width:30px;
    height: 30px;
}


.download{
    padding:90px 0;
}

.download_block{
    text-align: center;
}
.download_block h5{
    font-size:24px;
}

.download_block p{
    text-transform: uppercase;
    font-weight:bold;
}

.main_footer{
    padding: 70px 0;
    background-color: #3a3e64;
}

.footer_item{
    text-align: center;
    margin-bottom:20px;
}

.footer_item h5{
    font-size:18px;
    color: #fff;
    text-transform: uppercase;

}

.footer_item p{
    font-size:14px;
    color: #9d9fb2;
}

.copy_txt{
    color:#9d9fb2;
}

.copyright_block{
    background-color: #313454;
    text-align: center;
    padding:30px 0;
}

#dlForm input{
    margin-bottom:15px;
}

#dlForm{
    width: 80%;
    margin:0 auto;
}

.call_btn{
    position: fixed;
    bottom:30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:#fff;
    border: 0;
    outline: 0;
    background-color: #c84545;
    z-index: 999;
}

a img {
     width: 40%;
     margin-top:-35px;
 }





