@media all and (max-width: 1200px) {

    h4, h5 {
        font-size: 14px;
    }

    .left{
        width: 100px;
    }
    .img_block button {
        margin: 0 0 0 0
    }
    .media_img{
        margin-left:0
    }
}

@media all and (max-width: 850px) {
    .flex_block {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .flex_block h4,h5 {
        text-align: center;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .noDisplay {
        display: none;
    }

    h4,h5 {
        font-size: 15px;
        text-transform: uppercase;
    }

    i{
        padding-left:35%;
    }

    img{
        margin-left:20%
    }

    .left{
        padding-top:10px;
        width: 200px;
    }

    .main_display_block{
        flex-direction: column;
    }

    .display_block {

    align-items: center;
        margin: 20px 20px;
    }

    .img_block button {
       margin: 10px 0 10px 35px
    }

    .media_img{
        margin-left:38%
    }


















}